{% extends 'layout.html'%}

{% block body %}
  <h1>About Us</h1>
  <h3>Group Members:</h3>
  
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>USN</th>
      <th>Department</th>
    </tr>
    <tr>
      <td>Ashish Jain</td>
      <td>1MS16CS022</td>
      <td>Computer Science</td>
    </tr>
    <tr>
      <td>Ayush Shukla</td>
      <td>1MS16CS027</td>
      <td>Computer Science</td>
    </tr>
    <tr>
      <td>Deepak</td>
      <td>1MS16CS032</td>
      <td>Computer Science</td>
    </tr>
    <tr>
      <td>Abhinandan Kumar Jha</td>
      <td>1MS16CS002</td>
      <td>Comuter Science</td>
    </tr>
  </table>
{% endblock %}